<%= link_to 'Add an entry', new_admin_entry_path %>
<%= link_to 'Add a definition', new_admin_definition_path %>

<div>Number of words known: <%= @entries.count %></div>
<div>Number of definitons: <%= @definitions.count %></div>